// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font sizes
$h1--desktop: 86px;
$h2--desktop: 60px;
$h3--desktop: 50px;
$body-large: 20px;
$body-medium: 18px;
$body-small: 16px;
$body-title: 18px;
$h1--mobile: 46px;
$h2--mobile: 34px;

// colors
$primary400: #6C63FF;
$primary300: #9E99FF;
$primary200: #C5C2FF;
$secondary400: #FD6584;
$neutral500: #2f2e41;
$neutral400: #717082;
$neutral300: #9893A3;
$neutral200: #CFCFDE;
$neutral100: #FFFFFF;